*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bi-cart3{
    
   margin-left: 900px;
   
   

}
.container-fluid{
    background-color:rgb(224, 223, 220);
    padding: 20px;
  
}
.nav-link.active{
    border-bottom: 2px solid blueviolet;
}
